<div class="ref">
  {{#each dk}}
  <p><strong>Name:</strong> {{name}}</p>
  <p><strong>Nicknames:</strong> {{nick}}</p>
  <p><strong>Age:</strong> {{age}}</p>
  <p><strong>Gender:</strong> {{gender}}</p>
  <p><strong>Race: </strong> {{race}}</p>
  <p><strong>Height: </strong> {{height}}</p>
  <p><strong>Hair: </strong> {{hair}}</p>
  <p><strong>Eye Color: </strong> {{eye}}</p>
  <p><strong>Skin color: </strong> {{skin}}</p>

  {{/each}}
</div>