<h1>Ephemeral - Drive Kill {{dk}}</h1>
<h2>Quick Reference:</h2>
<section>
  <p><strong>Name:</strong> {{name}}</p>
  <p><strong>Nicknames:</strong> {{nick}}</p>
  <p><strong>Age:</strong> {{age}}</p>
  <p><strong>Gender:</strong> {{gender}}</p>
  <p><strong>Race: </strong> {{race}}</p>
</section>